.contact {
  width: 100%;
  background-color: $about-background;
  margin: 0 1rem 0;
  padding: 5rem 8rem 5rem;
  h2 {
    color: $extreme-dark-text;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 3rem;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    .contact-item-1 {
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
    }
    .contact-item-2 {
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
    }
    .contact-grid-item {
      padding: 2.5rem 2rem 3rem;
      width: 100%;
      background-color: $light-background;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
        -5px 5px 5px rgba(0, 0, 0, 0.1);
      h3 {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
        color: $light-dark-text;
        margin-bottom: 2.5rem;
      }

      a {
        padding: 0.7rem 1.7rem;
        font-size: 1.2rem;
        color: $light-text;
        background-color: $projects;
        border-radius: 7px;
        transition: all 400ms;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid $dark-text;
          background-color: transparent;
          color: $extreme-dark-text;
        }
      }
    }
  }
  @media (max-width: $tablets) {
    padding: 4rem 6rem 5rem;
    h2 {
      font-size: 2.5rem;
    }
    .contact-grid {
      grid-template-columns: 1fr;
      gap: 3px;
      .contact-item-1 {
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        border-bottom-left-radius: 0px;
      }
      .contact-item-2 {
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        border-top-right-radius: 0px;
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 3rem 5rem 4rem;
    h2 {
      font-size: 2.2rem;
    }

    .contact-grid {
      h3 {
        font-size: 1.5rem !important;
      }
      p {
        font-size: 1rem !important;
      }
      a {
        padding: 0.6rem 1.5rem !important;
        font-size: 1rem !important;
      }
    }
  }
}
