.projects {
  margin: 0 1rem 0;
  padding: 4rem 5px;
  width: 100%;
  background-color: $about-background;

  .projects-black {
    background-color: $extreme-dark-background;
    margin: 3rem;
    border-radius: 15px;
    padding: 7rem 8rem;

    .projects-tag {
      width: 100%;
      border-radius: 20px;
      border: 1px solid $dark-background;
      padding: 3px 7px;
      font-size: 1.5rem;
      color: $light-text;
    }

    h2 {
      font-size: 3rem;
      color: $light-text;
      margin: 1rem 0 2rem;
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    .projects-message {
      font-size: 1.5rem;
      color: $light-background;
      margin-bottom: 2rem;
    }

    .projects-explore-btn {
      font-size: 1.6rem;
      padding: 8px 18px;
      border-radius: 10px;
      margin-bottom: 3.5rem;
      width: max-content;
      display: block;
      background-color: $light-background;
      color: $extreme-dark-text;
      transition: all 400ms;
      border: 1px solid transparent;

      &:hover {
        background-color: transparent;
        color: $light-text;
        border: 1px solid $dark-background;
      }
      span {
        font-weight: 500;
      }
    }

    .projects-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      //   justify-content: center;
      //   align-items: center;
      gap: 12px;
      div {
        border-radius: 10px;
        background-color: $projects;
        padding: 2rem 2rem 3rem;
        border: 1px solid $dark-background;
        transition: all 400ms;
        &:hover {
          scale: 1.02;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
            -5px 2px 5px rgba(0, 0, 0, 0.2);
        }

        a {
          color: $light-text;
          font-size: 4rem;
          padding: 5px 7px;
          border: 1px solid $dark-background;
          border-radius: 12px;
        }

        h3 {
          font-size: 2rem;
          color: $light-text;
          margin: 1.5rem 0 2rem;
        }

        p {
          font-size: 1.5rem;
          color: $light-dark-text-2;
        }
      }
      @media (max-width: $desktop) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: $tablets) {
        grid-template-columns: 1fr;
      }
    }
    @media (max-width: $tablets) {
      padding: 4rem 4rem;

      a {
        font-size: 1.3rem !important;
      }

      h2 {
        font-size: 2.5rem;
      }

      .projects-message {
        font-size: 1.3rem !important;
      }

      .projects-grid {
        a {
          font-size: 2.5rem !important;
        }
        h3 {
          font-size: 1.8rem !important;
        }
        p {
          font-size: 1.3rem !important;
        }
      }
    }
    @media (max-width: $mobile) {
      padding: 3rem 3rem;

      a {
        font-size: 1.2rem !important;
      }

      h2 {
        font-size: 2rem;
      }

      .projects-message {
        font-size: 1.2rem !important;
      }

      .projects-grid {
        a {
          font-size: 2rem !important;
        }
        h3 {
          font-size: 1.6rem !important;
        }
        p {
          font-size: 1.2rem !important;
        }
      }
    }
  }
}
