// COLORS
$light-background: #f1f1f1;
$extreme-dark-background: #212529;
$dark-background: #343a40;
$extreme-dark-text: #212529;
$dark-text: #343a40;
$light-dark-text: #868e96;
$light-text: #f8f9fa;
$border: #ced4da;

// RWD BREAKPOINTS
$desktop: 1200px;
$small-desktop: 1024px;
$tablets: 768px;
$mobile: 480px;
$small-mobile: 320px;

// SIZES
$default: 62.5%;
$mid: 55%;
$small: 50%;
