@import "variables";
@import "projects";
@import "mixins";
@import "hero";
@import "header";
@import "footer";
@import "contact";
@import "about";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $default;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: $light-background;
  overflow-x: hidden;
}

.main-content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  @include query($desktop) {
    width: 1024px;
  }
  @include query($small-desktop) {
    width: 768px;
  }
  @include query($tablets) {
    width: 480px;
  }
  @include query($mobile) {
    width: 320px;
  }
}
