.projects {
  margin: 0 1rem 0;
  padding: 4rem 5px;
  width: 100%;
  background-color: #e9ecef;
}
.projects .projects-black {
  background-color: #1f1f1f;
  margin: 3rem;
  border-radius: 15px;
  padding: 7rem 8rem;
}
.projects .projects-black .projects-tag {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #343a40;
  padding: 3px 7px;
  font-size: 1.5rem;
  color: #f8f9fa;
}
.projects .projects-black h2 {
  font-size: 3rem;
  color: #f8f9fa;
  margin: 1rem 0 2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.projects .projects-black .projects-message {
  font-size: 1.5rem;
  color: #f1f1f1;
  margin-bottom: 2rem;
}
.projects .projects-black .projects-explore-btn {
  font-size: 1.6rem;
  padding: 8px 18px;
  border-radius: 10px;
  margin-bottom: 3.5rem;
  width: max-content;
  display: block;
  background-color: #f1f1f1;
  color: #212529;
  transition: all 400ms;
  border: 1px solid transparent;
}
.projects .projects-black .projects-explore-btn:hover {
  background-color: transparent;
  color: #f8f9fa;
  border: 1px solid #343a40;
}
.projects .projects-black .projects-explore-btn span {
  font-weight: 500;
}
.projects .projects-black .projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.projects .projects-black .projects-grid div {
  border-radius: 10px;
  background-color: #262626;
  padding: 2rem 2rem 3rem;
  border: 1px solid #343a40;
  transition: all 400ms;
}
.projects .projects-black .projects-grid div:hover {
  scale: 1.02;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), -5px 2px 5px rgba(0, 0, 0, 0.2);
}
.projects .projects-black .projects-grid div a {
  color: #f8f9fa;
  font-size: 4rem;
  padding: 5px 7px;
  border: 1px solid #343a40;
  border-radius: 12px;
}
.projects .projects-black .projects-grid div h3 {
  font-size: 2rem;
  color: #f8f9fa;
  margin: 1.5rem 0 2rem;
}
.projects .projects-black .projects-grid div p {
  font-size: 1.5rem;
  color: #898989;
}
@media (max-width: 1200px) {
  .projects .projects-black .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .projects .projects-black .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .projects .projects-black {
    padding: 4rem 4rem;
  }
  .projects .projects-black a {
    font-size: 1.3rem !important;
  }
  .projects .projects-black h2 {
    font-size: 2.5rem;
  }
  .projects .projects-black .projects-message {
    font-size: 1.3rem !important;
  }
  .projects .projects-black .projects-grid a {
    font-size: 2.5rem !important;
  }
  .projects .projects-black .projects-grid h3 {
    font-size: 1.8rem !important;
  }
  .projects .projects-black .projects-grid p {
    font-size: 1.3rem !important;
  }
}
@media (max-width: 480px) {
  .projects .projects-black {
    padding: 3rem 3rem;
  }
  .projects .projects-black a {
    font-size: 1.2rem !important;
  }
  .projects .projects-black h2 {
    font-size: 2rem;
  }
  .projects .projects-black .projects-message {
    font-size: 1.2rem !important;
  }
  .projects .projects-black .projects-grid a {
    font-size: 2rem !important;
  }
  .projects .projects-black .projects-grid h3 {
    font-size: 1.6rem !important;
  }
  .projects .projects-black .projects-grid p {
    font-size: 1.2rem !important;
  }
}

.hero {
  margin-top: 35rem;
  margin-bottom: 25rem;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: end;
}
.hero img {
  width: 450px;
  border-radius: 20px;
}
.hero .hero-texts {
  padding-top: 8rem;
}
.hero .hero-texts h2 {
  font-size: 3.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: #212529;
}
.hero .hero-texts p {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #606060;
}
.hero .hero-texts .hero-buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.hero .hero-texts .hero-buttons a {
  padding: 7px 20px;
  color: #212529;
  background-color: #1f1f1f;
  color: #f8f9fa;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 400ms;
  display: flex;
  align-items: center;
  gap: 3px;
}
.hero .hero-texts .hero-buttons a i {
  font-size: 1.7rem;
}
.hero .hero-texts .hero-buttons .first-hero-button:hover {
  background-color: #f1f1f1;
  border: 1px solid #ced4da;
  color: #212529;
}
.hero .hero-texts .hero-buttons .second-hero-button {
  color: #212529;
  background-color: #f1f1f1;
  border: 1px solid #ced4da;
}
.hero .hero-texts .hero-buttons .second-hero-button:hover {
  background-color: #1f1f1f;
  border: 1px solid transparent;
  color: #f8f9fa;
}
.hero .hero-texts .hero-social {
  margin-top: 8rem;
  padding-left: 1rem;
}
.hero .hero-texts .hero-social p {
  font-size: 1.5rem;
  color: #606060;
}
.hero .hero-texts .hero-social ul {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.5rem;
  gap: 10px;
}
.hero .hero-texts .hero-social ul i {
  font-size: 2rem;
  color: #212529;
}
@media (max-width: 1200px) {
  .hero {
    grid-template-columns: 1fr;
    margin-top: 15rem;
    margin-bottom: 10rem;
    justify-items: center;
    text-align: center;
    gap: 5rem;
  }
  .hero .hero-buttons {
    justify-content: center !important;
  }
  .hero .hero-social {
    margin-top: 3rem !important;
  }
  .hero .hero-social ul {
    justify-content: center !important;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .hero {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
  .hero img {
    width: 350px;
  }
  .hero .hero-texts {
    padding-top: 5rem !important;
  }
  .hero .hero-texts h2 {
    font-size: 2.5rem !important;
  }
  .hero .hero-texts p {
    font-size: 1rem !important;
  }
  .hero .hero-buttons {
    margin-top: 1rem !important;
  }
  .hero .hero-buttons a {
    font-size: 1rem !important;
  }
  .hero .hero-buttons a i {
    font-size: 1.4rem !important;
  }
}
@media (max-width: 480px) {
  .hero {
    gap: 3rem !important;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }
  .hero img {
    width: 280px;
  }
  .hero .hero-texts {
    padding-top: 3rem !important;
  }
  .hero .hero-texts h2 {
    font-size: 2rem !important;
  }
  .hero .hero-texts p {
    font-size: 0.8rem !important;
  }
  .hero .hero-texts .hero-social ul i {
    font-size: 1.5rem !important;
  }
}

header {
  width: 700px;
  margin: 15px auto;
  position: fixed;
  top: 3.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-radius: 15px;
  z-index: 1;
  transition: all 400ms;
}
header .close {
  display: none;
}
header .menu {
  display: none;
  font-size: 2rem;
  color: #212529;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
header .logo a img {
  width: 35px;
  filter: brightness(65%);
}
header .logo a {
  font-size: 1.6rem;
  color: #212529;
  font-weight: 500;
  letter-spacing: -0.5px;
}
header nav {
  position: relative;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header nav ul a {
  color: #606060;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 400ms;
}
header nav ul a:hover {
  color: #212529;
  scale: 1.1;
}
header nav ul button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;
  background-color: #1f1f1f;
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 15px;
  gap: 3px;
  font-size: 1.6rem;
  transition: all 400ms;
}
header nav ul button:hover {
  background-color: #f1f1f1;
  color: #212529;
  border: 1px solid #ced4da;
}
@media (max-width: 1024px) {
  header {
    width: 700px;
  }
}
@media (max-width: 768px) {
  header {
    width: 460px;
  }
  header nav {
    display: none;
  }
  header .menu {
    display: block;
  }
}
@media (max-width: 480px) {
  header {
    margin: 7px auto 15px;
    width: 310px;
  }
}
@media (max-width: 320px) {
  header {
    width: 250px;
  }
}

.r-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(241, 241, 241, 0.92);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1000ms ease-out;
}
.r-nav ul {
  flex-direction: column;
}
.r-nav .close {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  font-size: 3.5rem;
}

.shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -3px 5px 5px rgba(0, 0, 0, 0.1);
}

.about {
  width: 100%;
  text-align: center;
  background-color: #e9ecef;
  margin: 5rem 1rem 0;
  padding: 4rem 5px;
}
.about .about-heading {
  font-size: 1.5rem;
  background-color: #f1f1f1;
  color: #606060;
  padding: 1rem 1.5rem;
  border-radius: 15px;
}
.about h2 {
  font-size: 2rem;
  color: #212529;
  font-weight: 500;
  margin-top: 2.5rem;
}
@media (max-width: 768px) {
  .about .about-heading {
    font-size: 1.3rem;
  }
  .about h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .about .about-heading {
    font-size: 1.2rem !important;
  }
  .about h2 {
    font-size: 1.5rem !important;
  }
  .about .about-item a {
    font-size: 1.5rem !important;
  }
  .about .about-item p {
    font-size: 1rem !important;
  }
}
.about .about-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: 100%;
  padding: 0 5rem;
  justify-items: center;
}
.about .about-grid .about-item {
  background-color: #f1f1f1;
  text-align: start;
  padding: 2rem;
  border-radius: 15px;
  transition: all 400ms;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.about .about-grid .about-item img {
  width: 100%;
  border-radius: 15px;
}
.about .about-grid .about-item a {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #212529;
  display: block;
}
.about .about-grid .about-item p {
  font-size: 1.3rem;
  color: #606060;
}
.about .about-grid .about-item:hover {
  scale: 1.03;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1024px) {
  .about .about-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .about .about-grid {
    grid-template-columns: 1fr;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f1f1f1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .main-content {
    width: 1024px;
  }
}
@media (max-width: 1024px) {
  .main-content {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .main-content {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .main-content {
    width: 380px;
  }
}

/*# sourceMappingURL=styles.css.map */
